@tailwind base;
@tailwind components;
@tailwind utilities;
 
/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: gray;
    scroll-padding: 20px;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    /* background: gray; */
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: gray;
    /* border-radius: 40px; */
    /* border: 3px solid gray; */
  }